<!DOCTYPE html>
<html>
    <head>
            <title>Homepage</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
                integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
                crossorigin="" />
            <link rel="stylesheet" type="text/css" href="./styles/main.css">
            <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
        </head>
        
        <body>
            <div class="header">
                <a href="/" class="logo">Locator</a>
                <div class="header-right">
                    <% if(!user.isAuthenticated) { %>
                        <a class="login" href="/sign-in">Login</a>
                    <% } else { %>
                        <a class="logout" href="/logout">Logout</a>
                        <span><%= user.name %></span>
                    <% } %>
                </div>
            </div>
            <p id="status"></p>
            <p id = "map-link"></p>
            <div id="osm-map"></div>
            <script>let user = <%- JSON.stringify(user) %></script>
            <script src="../scripts/geo.js"></script>
            
            <div class="footer">
                <p>Vedran Hernaus 2021</p>
            </div>
    </body>
</html>